
<div class="w3-container" *ngFor = "let emps of emp">
  <h2> 사원 수정및 삭제</h2>
  <div class="w3-card-4">
  <div class="w3-container w3-brown">
    <h2>수정하세요</h2>
  </div>
</div>>
    <p>      
    <label class="w3-text-brown"><b>사원 번호</b></label>
    <input class="w3-input" type="number" readonly  [(ngModel)]="emps.employeeNo"></p>
    <p>      
    <label class="w3-text-brown"><b>사원 이름</b></label>
    <input class="w3-input" type="text"  [(ngModel)]="emps.employeeName"></p>
    <p>
    <label class="w3-text-brown"><b>사원 비밀번호</b></label>
    <input class="w3-input"  type="password" naem="employeePassword" [(ngModel)]="emps.employeePassword"></p>
    <p>
    <label class="w3-text-brown"><b>개인 연락처</b></label>
    <input class="w3-input" maxlength="11" type="text" naem="personalContact" [(ngModel)]="emps.personalContact"></p>
    <p>
    <label class="w3-text-brown"><b>내선 번호</b></label>
    <input class="w3-input " maxlength="4" type="text" naem="extensionNumber" [(ngModel)]="emps.extensionNumber"></p>
    <p>
    <label class="w3-text-brown"><b>사원 이메일</b></label>
    <input class="w3-input "  type="email" naem="employeeEmail" [(ngModel)]="emps.employeeEmail"></p>
    <p>
    <label class="w3-text-brown"><b>생년월일</b></label>
    <input class="w3-input "  type="number" max="99999999" maxlength="8" [(ngModel)]="emps.employeeBirth"></p>
    <p>
    <label class="w3-text-brown"><b>최종학력상태</b></label>
    <input class="w3-input"  type="text"  [(ngModel)]="emps.finalEducationState"></p>
    <p>
    <label class="w3-text-brown"><b>최종학력</b></label>
    <input class="w3-input "  type="text"  [(ngModel)]="emps.finalEducation"></p>
    <p>
    <label class="w3-text-brown"><b>은행명</b></label>
    <input class="w3-input "  type="text"  [(ngModel)]="emps.employeeBankName"></p>
    <p>
    <label class="w3-text-brown"><b>계좌번호</b></label>
    <input class="w3-input " type="text"   [(ngModel)]="emps.employeeBankCode"></p>
    <p>
    <label class="w3-text-brown"><b>입사일</b></label>
    <input class="w3-input"  type="date" maxlength="8"  [(ngModel)]="emps.dateOfEntry"></p>
    <p>
    <p>
    <label class="w3-text-brown"><b>퇴사일</b></label>
    <input class="w3-input"  type="date"  maxlength="10"   [(ngModel)]="emps.dateOfDeparture"></p>
    <p>
    <p>
    <label class="w3-text-brown"><b>권한</b></label>
    <input class="w3-input"  type="number" maxlength="1"  min="1" max="2"  [(ngModel)]="emps.employeeUsageStatus"></p>
    <p>
    <button class="w3-btn w3-brown" (click)="update(emps)">수정</button>
    <button class="w3-btn w3-brown" (click)="delete()">삭제</button></p>
</div>