<div class="w3-container">
  <h2>EMP</h2>
 
  
  <div class="w3-bar w3-light-grey">
    <a routerLink="login" class="w3-bar-item w3-button">Home</a>
    <div class="w3-dropdown-hover">
      <button class="w3-button">사원관리</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="select" class="w3-bar-item w3-button">사원 조회</a>
        <a routerLink="insert" class="w3-bar-item w3-button">사원 등록</a>
      </div>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">부서관리</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="selectdept" class="w3-bar-item w3-button">부서 조회</a>
        <a routerLink="insertdept" class="w3-bar-item w3-button">부서 등록</a>
      </div>
    </div> 
</div>
