<div class="w3-container">
  
    <h2>사원조회 Table</h2>
    <p>수정 및 삭제 할 대상의 사원을 눌러 주세요</p>
    <p>사용 상태 : 1 - 사용 / 0 - 미사용</p>
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-light-grey">
          <th>파일</th>
          <th>사원 번호</th>
          <th>사원 이름</th>
          <th>사원 연락망</th>
          <th>내선번호</th>
          <th>사원 이메일</th>
          <th>사용 상태</th>
          
        </tr>
      </thead>
      <tr *ngIf ="emps.length==0 && !emps">
        <td colspan="7">조회된 내용이 없습니다.</td>
      </tr>
      <tr *ngFor="let emp of emps" (click)="goPage('update/'+emp.employeeNo)">
        <td><img src="http://192.168.0.42:88/resources{{emp.employeePath}}"/></td>
        <td>{{emp.employeeNo}}</td>
        <td>{{emp.employeeName}}</td>
        <td>{{emp.personalContact}}</td>
        <td>{{emp.extensionNumber}}</td>
        <td>{{emp.employeeEmail}}</td> 
        <td>{{emp.employeeUsageStatus}}</td>
      </tr>
      
    </table>
  </div>
  
